<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Polify</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/api">API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://www.djlowes.com">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header class="intro-header">
  <div class="container">
    <div class="intro-message">
      <h1>How angry is your local politician?</h1>
      <div class="intro-search">
        <div class="input-group" id="searchform">
          <input id="search-bar" autocomplete="off" type="text" class="form-control" placeholder="Type in the name of a politician to search" aria-label="search">

          <button class="input-group-addon btn btn-secondary basic-addon2" type="button" id="submit-btn" data-toggle="modal" data-target="#myModal">Search</button>
        </div>
        <ul class="output" style="display:none;"></ul>

<!-- Modal -->
      </div>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
          <div class="container">
            <div class="row">
              <div id="photo" class="col-6">"></div>
              <div class="col">
                <div class="row">
                  <div class="col-7" id="midCol"><img id="emoji" src="../img/angry.png"><span id="emotion">Anger: </span></div>
                  <div class="col-4" id="lastCol"><span id="angRank"></span><span id="ovRank">  /  541</span></div>
                </div>
                <div class="row">
                  <div class="col-7" id="midCol"><img id="emoji" src="../img/angry.png"><span id="emotion">Happiness: </span></div>
                  <div class="col-4" id="lastCol"><span id="hapRank"></span><span id="ovRank">  /  541</span></div>
                </div>
                <div class="row">
                  <div class="col-7" id="midCol"><img id="emoji" src="../img/angry.png"><span id="emotion">Disgust: </span></div>
                  <div class="col-4" id="lastCol"><span id="disRank"></span><span id="ovRank">  /  541</span></div>
                </div>
                <div class="row">
                  <div class="col-7" id="midCol"><img id="emoji" src="../img/angry.png"><span id="emotion">Fear: </span></div>
                  <div class="col-4" id="lastCol"><span id="feaRank"></span><span id="ovRank">  /  541</span></div>
                </div>
                <div class="row">
                  <div class="col-7" id="midCol"><img id="emoji" src="../img/angry.png"><span id="emotion">Surprise: </span></div>
                  <div class="col-4" id="lastCol"><span id="surRank"></span><span id="ovRank">  /  541</span></div>
                </div>
                <div class="row">
                  <div class="col-7" id="midCol"><img id="emoji" src="../img/angry.png"><span id="emotion">Sadness: </span></div>
                  <div class="col-4" id="lastCol"><span id="sadRank"></span><span id="ovRank">  /  541</span></div>
                </div>
                <div class="row">
                  <div class="col-7" id="midCol"><img id="emoji" src="../img/angry.png"><span id="emotion">Contempt: </span></div>
                  <div class="col-4" id="lastCol"><span id="conRank"></span><span id="ovRank">  /  541</span></div>
                </div>
                <div class="row">
                  <div class="col-7" id="midCol"><img id="emoji" src="../img/angry.png"><span id="emotion">Neutral: </span></div>
                  <div class="col-4" id="lastCol"><span id="neuRank"></span><span id="ovRank">  /  541</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div id="state" class="col-2">State: <span id="st"></span></div>
              <div id="twitter" class="col-5"><img id="twitterIcon" src="../img/twitter.jpeg">@ <span id="tw"></span></div>
              <div id="youtube" class="col-5"><img id="youtubeIcon" src="../img/youtube.png"> <span id="yo"></span></div>
            </div>
          </div>
          <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about <span id="bName"></span></button>
              </div>
          </div>
      </div>
      </div>
<!-- End Modal -->
      <h3>OR</h3>
      <div class="intro-text">See what politician you look like the most!<b> Compare using:</b></div>
      <hr class="intro-divider">
      <ul class="list-inline intro-social-buttons">
        <li class="list-inline-item">
          <a href="#" class="btn btn-secondary btn-lg">
              <i class="fa fa-twitter fa-fw"></i>
              <span class="network-name">Twitter</span>
            </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="btn btn-secondary btn-lg">
              <i class="fa fa-github fa-fw"></i>
              <span class="network-name">Github</span>
            </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="btn btn-secondary btn-lg">
              <i class="fa fa-linkedin fa-fw"></i>
              <span class="network-name">Linkedin</span>
            </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Males vs Females</h2>
        <p class="lead">The first graph illustrates a comparison of average emotional responses between males and females in their official congress profile photo. Because males have such a stronger response for every emotion, particularly disgust, visualizing the average female response is difficult. Therefore, the second graph illustrates only the average female response. Click on the labels to see more.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <canvas id="myChart" height="400"></canvas>
      </div>
      <div class="col-lg-4 mr-auto">
        <canvas id="myChartFour" height="400"></canvas>
      </div>
    </div>

  </div>
  <!-- /.container -->
</section>

<section class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-4 mr-auto order-lg-2">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Political Party</h2>
        <p class="lead">Click on the political party labels to understand the data more, which shows that Independents have a far greater emotional response than Republicans, who have a far greater emotional response than Democarts. Male Republicans have the highest emotional response of all, being anger and disgust. Female Democrats are the lowest in these categories.</p>
      </div>
      <div class="col-lg-4 ml-auto order-lg-1">
        <canvas id="myChartTwo" height="400"></canvas>
      </div>
      <div class="col-lg-4 ml-auto order-lg-1">
        <canvas id="myChartThree" height="400"></canvas>
      </div>
    </div>

  </div>
  <!-- /.container -->

</section>
<!-- /.content-section-b -->

<section class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Angriest by State</h2>
        <p class="lead">Kansas and West Virginia were removed because they were outliers. Kansas clearly was number 1 as the state with the angriest congressman. West Virginia was second. This heat map gives you some indication of how angry the congressman of each state are.</p>
        <p class="lead"> If you would like to see how your congressman rates for the anger emotion, please use the search box at the top of this page and it will display their results.</p>
      </div>
      <div class="col-lg-5 mr-auto ">
      <div id="myChartSeven"></div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</section>
<!-- /.content-section-a -->

<aside class="banner">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 my-auto">
        <h2>Connect with your local politicians:</h2>
      </div>
      <div class="col-lg-6 my-auto">
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="http://congress.gov"><img id="congress" src="../img/congressgov.png"></a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <!-- /.container -->

</aside>
<!-- /.banner -->

<!-- Footer -->
<footer>
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#">Home</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="/api">Data</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="http://www.djlowes.com">More about me</a>
      </li>
    </ul>
    <p class="copyright text-muted small">Copyright &copy; David Lowes 2017. All Rights Reserved</p>
  </div>
</footer>
