<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Polify</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Find</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Rankings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header class="intro-header">
  <div class="container">
    <div class="intro-message">
      <h1>How angry is your local politician?</h1>
      <div class="intro-search">
        <div class="input-group" id="searchform">
          <input id="search-bar" autocomplete="off" type="text" class="form-control" placeholder="Type in the name of a politician to search" aria-label="search">

          <button class="input-group-addon btn btn-secondary basic-addon2" type="button" id="submit-btn" data-toggle="modal" data-target="#myModal">Search</button>
        </div>
        <ul class="output" style="display:none;">
        </ul>
      </div>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="myModalLabel">Politician Name</h4>
          </div>
          <div class="modal-body">
            <div id="photo" class="column"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" width="140" height="140" border="0"></a>
          </div>
          <div id="emotions-body" class="columns">test</div>
          <hr>
          <br>
          </div>
          <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Joe</button>
              </div>
          </div>
      </div>
  </div>
      <h3>OR</h3>
      <div class="intro-text">See what politician you look like the most!<b> Compare using:</b></div>
      <hr class="intro-divider">
      <ul class="list-inline intro-social-buttons">
        <li class="list-inline-item">
          <a href="#" class="btn btn-secondary btn-lg">
              <i class="fa fa-twitter fa-fw"></i>
              <span class="network-name">Twitter</span>
            </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="btn btn-secondary btn-lg">
              <i class="fa fa-github fa-fw"></i>
              <span class="network-name">Github</span>
            </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="btn btn-secondary btn-lg">
              <i class="fa fa-linkedin fa-fw"></i>
              <span class="network-name">Linkedin</span>
            </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Chart One<br>Goes Here</h2>
        <p class="lead">A special thanks to
          <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a> for providing the photographs that you see in this template. Visit their website to become a member.</p>
      </div>
      <div class="col-lg-5 mr-auto">
        <canvas id="myChart" height="400"></canvas>
      </div>
    </div>

  </div>
  <!-- /.container -->
</section>

<section class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 mr-auto order-lg-2">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Chart Two<br>Goes Here</h2>
        <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by
          <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
      </div>
      <div class="col-lg-5 ml-auto order-lg-1">
        <canvas id="myChartTwo" height="400"></canvas>
      </div>
    </div>

  </div>
  <!-- /.container -->

</section>
<!-- /.content-section-b -->

<section class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>
        <p class="lead">This template features the 'Lato' font, part of the
          <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as
          <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
      </div>
      <div class="col-lg-5 mr-auto ">
      <canvas id="myChartThree" height="400"></canvas>
      </div>
    </div>

  </div>
  <!-- /.container -->

</section>
<!-- /.content-section-a -->

<aside class="banner">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 my-auto">
        <h2>Connect to Start Bootstrap:</h2>
      </div>
      <div class="col-lg-6 my-auto">
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="#" class="btn btn-secondary btn-lg">
                <i class="fa fa-twitter fa-fw"></i>
                <span class="network-name">Twitter</span>
              </a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="btn btn-secondary btn-lg">
                <i class="fa fa-github fa-fw"></i>
                <span class="network-name">Github</span>
              </a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="btn btn-secondary btn-lg">
                <i class="fa fa-linkedin fa-fw"></i>
                <span class="network-name">Linkedin</span>
              </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <!-- /.container -->

</aside>
<!-- /.banner -->

<!-- Footer -->
<footer>
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#">Home</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#about">About</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#services">Services</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#contact">Contact</a>
      </li>
    </ul>
    <p class="copyright text-muted small">Copyright &copy; David Lowes 2017. All Rights Reserved</p>
  </div>
</footer>
